<li class="list-group-item container-fluid">
  <p>
    <span class="" ><%= comment.text %></span>
    <strong><%= comment.account.email %></strong>
    <% if (current_account == comment.account) || (current_account == @post.account) %>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <%= link_to 'Delete', comment_path(comment),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
</li>
