<%= form_with(model: [post, post.comments.build], remote: true) do |form|%>
  <p>
    <%#= hidden_field_tag(:post_id, post.id) %>
    <%= form.text_field :text, required: true, class:"comment_text_#{ post.id}" %>
    <%= form.submit "Post Comment" , class: "btn btn-primary" %>
  </p>
<% end %>
<% total_comments = total_comments_on_post(post) %>
<% if total_comments > 0 %>
  <%= link_to "#{total_comments} Comments", post_path(post) %>
<% end %>
