<div class="centralize">
  <div class="d-table-caption card-header  p-4 bottom_border">
    <h1>Create New Post</h1>
    <%= render 'form', btn_text: 'Create Post'   %>

    <%= link_to 'Back', root_path %>
  </div>
</div>

