
@import "bootstrap";
@import "public";

.cropped1 {
  object-fit: cover;
  border: 1px solid black;
}

.bottom_border {
  border-bottom: 3px solid #2e6da4;
}
.app_title {
  color: #2e6da4;
  font-weight: 600;
  font-size: large;
}
.text_color {
  color: #337ab7;
}

