<div class="card" >
  <div class="card-body">
    <h5 class="card-title"><%= account.username %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= account.email %></h6>
    <p class="card-text"><%= time_ago_in_words(account.created_at) %></p>
    <%= link_to "View Profile", profile_path(account: account), class:"card-link" %>
  </div>
</div>
